services:
  - type: web
    name: jewelry-odoo
    env: python
    plan: free
    region: oregon
    branch: main
    buildCommand: chmod +x build.sh && ./build.sh
    startCommand: python odoo-source/odoo-bin -c odoo.conf --workers=1 --without-demo=all