services:
  - type: web
    name: faris-jewelry-odoo
    env: docker
    plan: free
    docker:
      dockerfile: Dockerfile
    ports:
      - port: 8069
        protocol: HTTP
    envVars:
      - key: HOST
        fromDatabase:
          name: faris-jewelry-db
          property: host
      - key: USER
        fromDatabase:
          name: faris-jewelry-db
          property: user
      - key: PASSWORD
        fromDatabase:
          name: faris-jewelry-db
          property: password

  - type: pserv
    name: faris-jewelry-db
    plan: free
    image: postgres:15
    ipAllowList: []