services:
  - type: web
    name: jewelry-odoo
    env: python
    plan: free
    branch: main
    buildCommand: |
      chmod +x build.sh
      ./build.sh
    startCommand: python src/odoo-bin -c odoo.conf
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
      - key: PGHOST
        fromDatabase:
          name: odoo-postgres
          property: host
      - key: PGPORT
        fromDatabase:
          name: odoo-postgres
          property: port
      - key: PGUSER
        fromDatabase:
          name: odoo-postgres
          property: user
      - key: PGPASSWORD
        fromDatabase:
          name: odoo-postgres
          property: password
      - key: PGDATABASE
        fromDatabase:
          name: odoo-postgres
          property: database