services:
  - type: web
    name: jewelry-odoo
    env: python
    plan: free
    branch: main
    buildCommand: |
      chmod +x build.sh
      ./build.sh
    startCommand: python src/odoo-bin -c odoo.conf
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
      - fromGroup: odoo-db-settings

groups:
  - name: odoo-db-settings
    envVars:
      - key: PGHOST
        generateValue: true
      - key: PGPORT
        generateValue: true
      - key: PGUSER
        generateValue: true
      - key: PGPASSWORD
        generateValue: true
      - key: PGDATABASE
        generateValue: true

databases:
  - name: odoo-postgres
    plan: free
    databaseName: odoo_main
    user: odoo_user