services:
  - type: web
    name: jewelry-odoo
    env: python
    plan: free
    branch: main
    buildCommand: chmod +x build.sh && ./build.sh
    startCommand: python src/odoo-bin -c odoo.conf
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
    disk:
      name: odoo-data
      mountPath: /opt/render/project/src/.odoo-data
      sizeGB: 1

  - type: pserv
    name: odoo-postgres
    env: postgres
    plan: free
    disk:
      name: postgres-data
      sizeGB: 1
      mountPath: /var/lib/postgresql/data