services:
  - type: web
    name: jewelry-odoo17
    env: docker
    plan: free
    region: oregon
    branch: main
    docker:
      dockerfile: Dockerfile
    envVars:
      - key: PGHOST
        fromDatabase:
          name: odoo-postgres
          property: host
      - key: PGPORT
        fromDatabase:
          name: odoo-postgres
          property: port
      - key: PGUSER
        fromDatabase:
          name: odoo-postgres
          property: user
      - key: PGPASSWORD
        fromDatabase:
          name: odoo-postgres
          property: password
      - key: PGDATABASE
        fromDatabase:
          name: odoo-postgres
          property: database

databases:
  - name: odoo-postgres
    plan: free
    region: oregon
    databaseName: odoo_main