services:
  - type: web
    name: jewelry-odoo
    env: python
    plan: free
    region: oregon
    branch: main
    buildCommand: |
      chmod +x build.sh
      ./build.sh
    startCommand: python src/odoo-bin -c odoo.conf --workers=2 --without-demo=all
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12