services:
  - type: web
    name: jewelry-odoo17
    env: docker
    plan: free
    region: oregon
    branch: main
    docker:
      dockerfile: Dockerfile

databases:
  - name: odoo-postgres
    plan: free
    region: oregon
    databaseName: odoo_main
