services:
  - type: web
    name: jewelry-odoo17
    env: docker
    plan: free
    region: oregon
    branch: main
    docker:
      dockerfile: Dockerfile
    envVars:
      - key: DB_PASSWORD
     