# Use latest compatible versions instead of pinned versions
psycopg2-binary
Pillow
lxml
Jinja2
reportlab
python-dateutil
pytz
Babel
Werkzeug
passlib
requests
XlsxWriter
num2words
vobject
pyparsing
polib
pyserial
ofxparse
qrcode
xlrd
xlwt