# Odoo 18 compatible dependencies for Python 3.13
psycopg2-binary
Pillow
lxml
Jinja2
reportlab
python-dateutil
pytz
Babel
Werkzeug
passlib
requests
XlsxWriter
num2words
vobject
pyparsing
polib
pyserial
qrcode
xlrd
xlwt
lxml-html-clean
pypdf